extends layout

block content
  div(class="navbar navbar-dark bg-dark navbar-static-top")
    a(class="navbar-brand", href="#") TodoApp
    button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse", id="navbarNavDropdown")

  div(class="wrapper")
    br
    h4 Home